@import './variables';

.shift_list { font-family: Arial, sans-serif; background-color: #3607DB;padding: 30px;border-radius: 8px;
  
    h2 { font-size: 1.5rem; margin-bottom: 1rem; color: white;}
  
    .shift_table { width: 100%; overflow-x: auto; border-collapse: collapse; }
  
    .shift_heading { background-color: #f0f0f0; position: sticky; top: 0; z-index: 1; }
  
    .shift_row { display: flex; border-bottom: 1px solid #ccc; position: relative;
      &:not(.shift_heading){color: #fff;}
    }
  
    .start_date, .start_time, .end_time { flex: 1; text-align: center; padding: 0.5rem; }

    .btn_edit_shift{position: absolute;transform: translateY(-50%);right: 0.5rem;top: 50%;}
}

.modal{inset: 0;position: fixed; background-color: rgb(0 0 0 / 70%); z-index: 9999;
  .modal_content{max-width: 400px; width: 100%; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: #fff; position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
}
  
.shift_btn_wrapper{margin-bottom: $gap-20;
  .btn_toggle_shift{height: 300px;width: 300px;margin: 0 auto; display: flex;align-items: center;justify-content: center;flex-direction: column;border-radius: 100%;border: 4px solid $clr-primary;background-color: $clr-primary;transition: all .25s;

    h2{font-size: 2rem;font-weight: bold;}

    &.active{background-color: transparent;}

    .timer{font-size: $h2;}
    
  }

}

.digital_clock { font-family: Arial, sans-serif; font-size: 24px; color: rgb(211, 36, 36);text-align: center; padding: 10px; background-color: $clr-gray-100;border-radius: 8px; width: fit-content;
  span { display: inline-block; vertical-align: middle; margin-right: 5px;text-shadow: 0px 0px 20px rgb(211 36 36);}
}
